.contenedorFooter {
  background-color: #6b1515;
  color: #ffffff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  border-radius: 19px;
}

.contenedorFooter .enlaces {
  margin-bottom: 15px;
}

.contenedorFooter .enlaces a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 10px;
  margin-right: 20px;
  font-family: "Times New Roman", Times, serif;
}

.contenedorFooter .enlaces a:hover {
  text-decoration: none;
  color: #000000;
}

.contenedorFooter .redesSociales a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 5px;
}

.contenedorFooter .redesSociales a:hover {
  color: #000000; /* Cambia el color al pasar el ratón */
}

.contenedorFooter p {
  font-size: 12px;
}
